body{
    font-family: 'Uchen', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

.orang_color{
    color: rgb(161, 31, 102);
}

.first_container{
    display: flex;
    margin-bottom: 200px;
}

.half_width{
    width: 50%;
    padding-left: 2%;
    margin-top: 50px;
    margin-left: 10px;
    padding-top: 60px;
    
}
.set_image img{
    width: 55%;
    float: right;
    margin-top: 40px;
    padding-right: 10%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(121, 18, 18), rgb(124, 85, 231));
    font-weight: 700;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    
}
.second_container{
    display: flex;

    background-image: url(images/fourth_pic.png);
    background-repeat: no-repeat;
    background-size: 2040px 600px ;
    
    /* height: 500px; */

}
.second_container img{
    width: 70%;
}
.second_container_content{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 100px;
}
.recipe{
    text-align: center;
}
.my_recipe_item{
    display: flex;
    margin-bottom: 150px;
}

.recipe_item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(29, 28, 28);
    text-align: center;
}

.recipe_item img{
    height: 170px;
    width: 185px;
    padding-left: 60px;
    border-radius: 30px;
    padding: 10px;
    
}